* {
  border: 1px solid rgba(0,0,0,0.3);
} 

.main{
  padding:none;
  color: black;
  text-align:center;
}

.parallax img{
  height:auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
